<h2>Dodawanie nowego klienta do bazy</h2>

<form action="/client" method="POST">
  <div>
    <label>
      E-mail:
      <input type="email" name="email" required />
    </label>
  </div>
  <div>
    <label>
      Imie:
      <input type="text" name="name" required />
    </label>
  </div>
  <div>
    <label>
      Data następnego kontaktu:
      <input type="date" name="nextContactAt" />
    </label>
  </div>
  <div>
    <label>
      Notatki
      <textarea name="notes"></textarea>
    </label>
  </div>

  <button type="submit">Zapisz</button>
</form>
